@model PhoneBooth.Models.Contact

@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm())
{
<div class="row" ng-controller="TestMy">
    <div>
        <b>ADD new contact</b><br /><br />
    </div>

    <div>
        @Html.LabelFor(model => model.FirstName):
        @Html.TextBoxFor(model => model.FirstName, new { ng_model = "addFirstName" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div>
        @Html.LabelFor(model => model.LastName):
        @Html.TextBoxFor(model => model.LastName, new { ng_model = "addLastName" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div>
        @Html.LabelFor(model => model.PhoneNum):
        @Html.TextBoxFor(model => model.PhoneNum, new { ng_model = "addPhoneNum" })
        @Html.ValidationMessageFor(model => model.PhoneNum)
    </div>
    <div>
        @Html.LabelFor(model => model.Address):
        @Html.TextBoxFor(model => model.Address, new { ng_model = "addAddress" })
        @Html.ValidationMessageFor(model => model.Address)
    </div>

    <button name="Create" value="Create" type="submit" class="btn btn-warning">Validate</button>
    <button type="button" class="btn btn-primary" ng-click="add()">Add contact</button>
</div>
}

<script src="~/Scripts/ContactBook/HomeIndexController.js"></script>
