@model PhoneBooth.Models.Contact

@Scripts.Render("~/bundles/bootstrap")

@using (Html.BeginForm())
{
<div class="row" ng-controller="TestMy">
    <div>
        <b>EDIT contact</b><br /><br />
    </div>

    <div>
        @Html.LabelFor(model => model.Id):
        @Html.TextBoxFor(model => model.Id, new { ng_model = "editId" })
        @Html.ValidationMessageFor(model => model.Id)
    </div>
    <div>
        @Html.LabelFor(model => model.FirstName):
        @Html.TextBoxFor(model => model.FirstName, new { ng_model = "editFirstName" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div>
        @Html.LabelFor(model => model.LastName):
        @Html.TextBoxFor(model => model.LastName, new { ng_model = "editLastName" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div>
        @Html.LabelFor(model => model.Address):
        @Html.TextBoxFor(model => model.Address, new { ng_model = "editAddress" })
        @Html.ValidationMessageFor(model => model.Address)
    </div>
    <div>
        @Html.LabelFor(model => model.PhoneNum):
        @Html.TextBoxFor(model => model.PhoneNum, new { ng_model = "editPhoneNum" })
        @Html.ValidationMessageFor(model => model.PhoneNum)
    </div>

    <button name="Edit" value="Edit" type="submit" class="btn btn-warning">Validate</button>
    <button type="button" class="btn btn-primary" ng-click="editSave()">Save contact</button>

</div>
}

<script src="~/Scripts/ContactBook/HomeIndexController.js"></script>

